<div id="<%= dom_id dashbaord_form %>">
  <p>
    <strong>Company name:</strong>
    <%= dashbaord_form.company_name %>
  </p>

  <p>
    <strong>Company address:</strong>
    <%= dashbaord_form.company_address %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= dashbaord_form.phone_number %>
  </p>

  <p>
    <strong>Pounds per litre:</strong>
    <%= dashbaord_form.pounds_per_litre %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= dashbaord_form.comment %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= dashbaord_form.rating %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= dashbaord_form.admin_id %>
  </p>

</div>
