<p style="color: green"><%= notice %></p>

<%= render @dashbaord_form %>

<div>
  <%= link_to "Edit this dashbaord form", edit_dashbaord_form_path(@dashbaord_form) %> |
  <%= link_to "Back to dashbaord forms", dashbaord_forms_path %>

  <%= button_to "Destroy this dashbaord form", @dashbaord_form, method: :delete %>
</div>
