<%= render "devise/shared/links" %>
<div class="pagey">
    <div class="footsteps-up">
      <div class="page">
          <h2 class="signup"><strong>Sign up</strong></h2>
            <%= simple_form_for(resource, as: resource_name, url: user_registration_path, data: {turbo: false}) do |f| %>
                <%= f.error_notification %>

                <div class="form-inputs">
                  <%= f.input :email,
                              required: true,
                              # autofocus: true,
                              input_html: { autocomplete: "email" }%>
                  <%= f.input :password,
                              required: true,
                              hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                              input_html: { autocomplete: "new-password" } %>
                  <%= f.input :password_confirmation,
                              required: true,
                              input_html: { autocomplete: "new-password" } %>
                </div>

              <div class="form-actions", style="width: 380px; margin: auto;">
                <%= f.submit "SIGN UP", data: {turbo: false}, :class => "purple-login-button text:uppercase" %>
                <br>
              </div>

              <div class="about">
                <%= link_to "Back to the Home Page", root_path, class: "btn btn-pink text-grey text-uppercase rounded-pill fw-bold" %>
              </div>
            <% end %>
        </div>
    </div>
  </div>
</div>
