<div id="<%= dom_id information_form %>" class="my-info">
  <p>
    <strong>Name:</strong>
    <%= information_form.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= information_form.address %>
  </p>

  <p>
    <strong>Fuel needed:</strong>
    <%= information_form.fuel_needed %>l
  </p>

  <p>
    <strong>phone_number:</strong>
    <%= information_form.phone_number %>
  </p>

  <p>
    <strong>delivery Info:</strong>
    <%= information_form.instructions_for_delivery %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= information_form.comment %>
  </p>

</div>
