<div id="<%= dom_id information_form %>">
  <p>
    <strong>Name:</strong>
    <%= information_form.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= information_form.address %>
  </p>

  <p>
    <strong>Fuel capacity:</strong>
    <%= information_form.fuel_capacity %>
  </p>

  <p>
    <strong>Current content:</strong>
    <%= information_form.current_content %>
  </p>

  <p>
    <strong>Fuel needed:</strong>
    <%= information_form.fuel_needed %>
  </p>

  <p>
    <strong>Instructions for delivery:</strong>
    <%= information_form.instructions_for_delivery %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= information_form.comment %>
  </p>

  <p>
    <strong>User:</strong>
    <%= information_form.user_id %>
  </p>

</div>
