<%# <p style="color: green"><%= notice %>
<div class="background3">
  <div class="inform">
    <h1>My Information:</h1><br>
      <div id="information_forms">
        <div class="my-info">
          <% @information_forms.each do |information_form| %>
            <%= render information_form %>
        </div>
          <%= link_to "Edit My information", information_form, class: "btn btn-pink text-grey text-uppercase rounded-pill fw-bold" %>
      <% end %>
    </div>
    <% if @information_forms.count == 1 %>
    <% else %>
      <strong><%= link_to "Create your fuel form", new_information_form_path, :class => "create-new" %></strong><br><br>
    <% end %>
    <%= link_to "Back to User Main Page", user_registration_url, class: "btn btn-pink text-grey text-uppercase rounded-pill fw-bold" %>
    <% if @information_forms.count == 1 %>
      <br><br><p>* Your information has been sent to the sites administrator. Feel free to update it when ever necessary.</p>
    <% end %>
    </div>
</div>
