<p style="color: green"><%= notice %></p>

<%= render @information_form %>

<div>

  <% if policy(@information_form).edit? %>
      <%= link_to "Edit this information form", edit_information_form_path(@information_form) %> |
  <% end %>
  <%= button_to "Destroy this information form", @information_form, method: :delete if policy(@information_form).destroy? %>


  <%# <%= link_to "Edit this information form", edit_information_form_path(@information_form) %>
  <%# <%= link_to "Back to information forms", information_forms_path %>

  <%# <%= button_to "Destroy this information form", @information_form, method: :delete %>
</div>
