<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <%# <link rel="stylesheet" href="components/_index.scss" /> %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Website Homepage</title>
</head>
<div class="index">
<% if current_user.present? == false %>
  <%# <div class="button">
      <%= link_to "Admin Log In", admin_session_path, class: "nav-link" %>
    <%# </div> %>
    <%# <div class="button"> %>
        <%# <%= link_to "User Log In", user_session_path, class: "nav-link" %>
    <%# </div> %>

   <div class="container">
    <h1>Welcome to the Bosham Oil Syndicate</h1>
    <h3>Please log in to access your account and view the BOS fuel</h3>
    <br>
    <div class="button">
      <%= link_to "About the site", about_path, class: "btn btn-pink text-grey text-uppercase rounded-pill fw-bold" %>
    </div>

  </div>
        <div class="container" style="margin-top: -4pc;">
                  <div class="row p-5 top-hero text-center justify-content-around">
                      <div class="col-md-3 col-sm-5">
                          <%= link_to "User", new_user_registration_path( status: { status:"user" }),class: "btn btn-block btn-pink btn-site p-4 text-uppercase cta home-button", style: "color:white"%>
                      </div>
                      <div class="col-md-3 col-sm-5">
                        <%= link_to "admin", new_admin_registration_path( status: { status:"admin" } ),class: "btn btn-block btn-pink btn-site p-4 text-uppercase cta home-button", style: "color:white" %>
                      </div>
                  </div>
      </div>


<% end %>
